<mat-toolbar color="secondary">
  <button mat-icon-button (click)="navigator.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container [style.marginTop.px]="">
  <mat-sidenav #navigator mode="over" [fixedInViewport]="true">
    <div class="clearfix mt-2">
      <p class="float-left title">
        oficio <small class="text-muted">Libre</small>
      </p>
      <mat-icon (click)="navigator.toggle()" class="float-right mt-2 mr-4 pointer">
        close
      </mat-icon>

    </div>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item role="listitem" class="nav-item">
        Unirme a oficio libre
      </mat-list-item>
      <mat-list-item role="listitem" class="nav-item">Entrar a mi cuenta</mat-list-item>
    </mat-list>
    <div class="px-2 py-5">
      <div class="card shadow shadow-sm mt-3">
        <div class="card-body">
          <h3 class="text-center">
            ¡Busca un trabajador!
          </h3>
          <p class="text-muted text-center mb-3">
            Cada día hay más categorías y más gente que quiere sorprenderte
          </p>
          <mat-divider></mat-divider>
          <app-search-engine></app-search-engine>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
