<form [formGroup]="form" class="mt-3" (submit)="search()">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>¿Qué quieres buscar?</mat-label>
          <input matInput placeholder="Herrero, carpintero, hojalatero" formControlName="search">
          <mat-error *ngIf="form.touched">Indica que estás buscando</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>¿En dónde?</mat-label>
          <input matInput placeholder="Estado o municipio" [matAutocomplete]="auto"
          formControlName="state">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state">
              <span>{{ state }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <button mat-raised-button color="primary" type="submit" class="w-100">Buscar</button>
    </div>
  </div>
</form>
